@font-face {
  font-family: Sofia-pro-light;
  src: url('./fonts/Sofia Pro Light Az.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: Sofia-pro-ultra-light;
  src: url('./fonts/Sofia Pro UltraLight Az.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: Sofia-pro;
  src: url('./fonts/Sofia-Pro-Regular-Az.otf') format('opentype');
  font-weight: 400;
}

#announcement {
  width: 100%;
  height: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  vertical-align: middle;
  position: static;
  background-color: #F9F0E5;
}

#logo {
  display: block;
  width: auto;
  height: auto;
  margin-top: 33px;
  margin-left: 96px;
}

#hero-container {
  display: grid;
}



.cta-button {
  background-color: #01005B;
  color: #FFFFFF;
  border-radius: 5px;
  font-family: Sofia-pro-light;
  font-size: 18px;
}

.star-rating {
  font-size: 12px;
  line-height: 1;
  margin-left: 10px;
}

.star {
  color: #d1d5db;
}

.star--filled {
  color: #FFB801;
}

.reviewer-badge {
  font-size: 11px;
  color: #828282;
  margin-left: 10px;
}